header {
    background: #FFF;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0px 100px;

    nav {
        ul {
            font-size: 0px;
            padding: 0px;
            margin: 0px;

            li {
                display: inline-block;
                list-style: none;
                
                a {
                    padding: 0px 15px 0px 0px;
                    color: $black;
                    font-size: 18px;
                    line-height: 100px;
                    height: 100px;
                    display: block;
                    text-decoration: none;
                }
            }
        }
    }
}