.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ecf0f1' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
    &__content {
        max-width: 600px;
        background: #fff;
        padding: 100px;
        border-radius: 15px;
        text-align: center;

        h1 {
            margin-bottom: 30px;
        }

        h2 {
            font-size: 24px;
            line-height: 24px;
            margin: 0px;
            padding: 0px;

            span {
                border-right: 3px solid $black; 
                animation: blinking 1s step-end infinite;
            }
        }
        svg {
            vertical-align: middle;
            position: relative;
            top: -2px;
            padding: 0px 2px;
        }
        
        @keyframes blinking {
            from, to { border-color: transparent }
            50% { border-color: $black; }
        }
    }

    &__footer {
        position: absolute;
        bottom: 15px;
        width: 100%;
        text-align: center;

        svg {
            background: #FFF;
            padding: 5px;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
                fill: $red;
                stroke: $red;
            }
        }
    }
}